.About p {
    display: flex;
    margin-left: 15%;
    margin-right:15%;
}
.About {
    background-color: grey;
    height: 100%;
    position: absolute;
    width: 100%;
}

.details {
    background-color: white;
    padding: 10px;
    margin: 10px;

}